extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jonny Lutz

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Thanks for checking out my work!  I began my career as a mechanical engineer and spent about 6 years working in the automotive and aerospace industries.  Since 2015, I have been traveling extensively and working remotely from locations all over the world.    
            | I am currently based out of Siem Reap, Cambodia which is home to the incredible temple of Angkor Wat.  When I am not programming, I stay busy teaching English to primary school students and traveling to new places. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML 5
          li CSS 3
          li jQuery
          li NodeJS
          li Git / GitHub
          li Express
          li React
          
          
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li (937) 660-8599
          li JLutz.110@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target='_blank' href='https://www.linkedin.com/in/jonathan-lutz-b547ab39/') LinkedIn
        a.button.expanded(target='_blank' href='https://github.com/CoderGuy614') GitHub
        a.button.expanded(target='_blank' href='https://www.facebook.com/profile.php?id=12450996') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  